title: "Klara Brabec Wagnerova"
baseurl: "/klaras-website"

languages:
  en:
    name: "English"
    default: true
  cz:
    name: "Čeština"

collections:
  authors:
    output: true

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"