.about-image {
    display: flex;
    justify-content: center;
}

.contact-text {
    text-align: center;
}

.about-quote {
    text-align: center;
    font-style: italic;
}

.about-header {
    text-align: center;
    margin-bottom: 0;
}

.about-subtitle {
    margin-top: 1rem;
    text-align: center;
    font-family:  'Great Vibes', cursive;
}